%% coding: utf-8
%% RUNTIME_CONFIG=false
[{kernel,
  [
    {sync_nodes_optional, ['a@millenniumfalcon', 'b@millenniumfalcon']},
    {sync_nodes_timeout, 5000}
  ]},
{hello_world,[{event_stores,['Elixir.HelloWorld.EventStore']},{'Elixir.HelloWorld.EventStore',[{serializer,'Elixir.Commanded.Serialization.JsonSerializer'},{username,<<112,111,115,116,103,114,101,115>>},{password,<<112,111,115,116,103,114,101,115>>},{database,<<101,118,101,110,116,115,116,111,114,101,95,100,101,118>>},{hostname,<<108,111,99,97,108,104,111,115,116>>},{pool_size,10}]}]}].
